# Values file for mqtt-blackbox-exporter
# author: amirhnajafiz
# year: 2022

# Replica counts of our service
replicaCount: 1

# docker image information of mqtt-blackbox-exporter
image:
  registry: ghcr.io
  repository: snapp-incubator/mqtt-blackbox-exporter
  pullPolicy: IfNotPresent

# service config
service:
  type: ClusterIP
  port: 80

# service resources
resources:
  limits:
    cpu: 200m
    memory: 256Mi
  requests:
    cpu: 200m
    memory: 256Mi

serviceMonitor:
  enabled: false

# scaling options
autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 100
  targetCPUUtilizationPercentage: 80

# values for config-map
config:
  telemetry:
    trace:
      enabled: false
      ratio: 0.1
      endpoint: ""
    metric:
      enabled: true
      address: ":8080"
  logger:
    level: "Debug"
  mqtt:
    url: "tcp://broker.emqx.io:1883"
    clientid: "mqttx_c5c9fbf3"
    username: ""
    password: ""
    keepalive: 60
    ping_timeout: 1
    auto_reconnect: true
    qos: 1
    retained: true
  ping_duration: 1
