---
name: test
on:
  - push
jobs:
  lint:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version-file: "go.mod"
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v6
        with:
          version: latest
          args: --enable-all --timeout=30m

  test:
    name: test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version-file: "go.mod"
      - run: go test -v ./... -covermode=atomic -coverprofile=coverage.out
      - uses: codecov/codecov-action@v5.1.1
        with:
          files: coverage.out
          token: ${{ secrets.CODECOV_TOKEN }}
          slug: snapp-incubator/mqtt-blackbox-exporter

  docker:
    runs-on: ubuntu-latest
    needs:
      - lint
      - test
    if: github.event_name != 'pull_request'
    steps:
      - uses: actions/checkout@v4
      - uses: docker/setup-buildx-action@v3
      - uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - uses: docker/bake-action@v5
        if: ${{ startsWith(github.ref, 'refs/tags/v') }}
        env:
          TAG: ${{ github.ref_name }}
        with:
          push: true
          files: 'build/package/docker-bake.json'
      - uses: docker/bake-action@v5
        if: ${{ !startsWith(github.ref, 'refs/tags/v') }}
        with:
          push: true
          files: 'build/package/docker-bake.json'
